# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 

venv/
venv-cpu/
training_data/
__pycache__/
AI.zip
night_sky_model.pth
classify_sky.spec
build/classify_sky/Analysis-00.toc
build/classify_sky/base_library.zip
build/classify_sky/classify_sky.pkg
build/classify_sky/EXE-00.toc
build/classify_sky/PKG-00.toc
build/classify_sky/PYZ-00.pyz
build/classify_sky/PYZ-00.toc
build/classify_sky/warn-classify_sky.txt
build/classify_sky/xref-classify_sky.html
build/classify_sky/localpycs/pyimod01_archive.pyc
build/classify_sky/localpycs/pyimod02_importers.pyc
build/classify_sky/localpycs/pyimod03_ctypes.pyc
build/classify_sky/localpycs/struct.pyc
dist/classify_sky
dist/classify_sky.tar.gz
build/classify_sky_cpu/base_library.zip
build/classify_sky_cpu/Analysis-00.toc
build/classify_sky_cpu/classify_sky_cpu.pkg
build/classify_sky_cpu/EXE-00.toc
build/classify_sky_cpu/PKG-00.toc
build/classify_sky_cpu/PYZ-00.pyz
build/classify_sky_cpu/PYZ-00.toc
build/classify_sky_cpu/warn-classify_sky_cpu.txt
build/classify_sky_cpu/xref-classify_sky_cpu.html
build/classify_sky_cpu/localpycs/pyimod01_archive.pyc
build/classify_sky_cpu/localpycs/pyimod02_importers.pyc
build/classify_sky_cpu/localpycs/pyimod03_ctypes.pyc
build/classify_sky_cpu/localpycs/struct.pyc
dist/classify_sky_cpu
classify_sky_cpu.spec
.gemini/settings.json
MeteorsStations/
